.card{
    border-radius: 0!important;
    box-shadow: none!important;
}

.cardContent{
    background: #000;
    color: #fff;
    border-top: 4px solid #ED1B24;
    padding-top: 2rem!important;
    padding-bottom: 2rem!important;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}